<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.RSMapper">
	<select id="getUserByEmail" parameterType="String" resultType="User">
			SELECT * FROM user where email = #{email}
	</select>
	<insert id="createUser" parameterType="pojo.User" >
			INSERT INTO user(email,password,firstName,lastName,role) VALUES
			(#{email},#{password},#{firstName},#{lastName},#{role})
			<selectKey resultType="java.lang.Integer" keyProperty="id" >
	        	SELECT @@IDENTITY AS id
	    	</selectKey>
	</insert>
	<delete id="deleteUserByEmail" parameterType="String">
			DELETE FROM user where email = #{email}
	</delete>
	<select id="getUsers" resultType="pojo.User">
			SELECT * FROM user 
	</select>
	<update id="updateUserByEmail" parameterType="pojo.User">

	</update>
	
	<insert id="saveCds" parameterType="pojo.CDistrict" >
  	  			  INSERT INTO cdistrict  
	            (cdName,population,stateId)  
	            VALUES 
	             (  
                    #{name,jdbcType=VARCHAR},  
                    #{population,jdbcType=NUMERIC},  
                    #{stateId,jdbcType=NUMERIC}
		          )  
	</insert>
	<insert id="savePrecincts" parameterType="pojo.Precinct" >
  	  			  INSERT INTO precinct  
	            (pName,population,registerVoters,totalVoters,cdistrictId,pCode)  
	            VALUES 
	             (  
                    #{name,jdbcType=VARCHAR},  
                    #{population,jdbcType=NUMERIC},  
                    #{registeredVoters,jdbcType=NUMERIC},
                    #{totalVoters,jdbcType=NUMERIC},
                    #{CDistrict.cdCode,jdbcType=NUMERIC},
                    #{precinctCode,jdbcType=VARCHAR}
		          )  
	</insert>
	
	
	<resultMap type="pojo.CDistrict" id="Precincts">
		<result column="cp" property="population"/>
		<result column="cdName" property="name"/>
		<result column="cid" property="cdCode"/>
			<collection property="precinct" ofType="pojo.Precinct">
				<result column="pName" property="name"/>
				<result column="registerVoters" property="registeredVoters"/>
				<result column="totalVoters" property="totalVoters"/>
				<result column="pp" property="population"/>
				<result column="pCode" property="precinctCode"/>
			</collection>
	
	</resultMap>
	
	<select id="getCdById" parameterType="int" resultMap="Precincts">
			SELECT  p.pName,p.cdistrictId,p.registerVoters ,p.totalVoters,p.population AS pp, pCode, cid,cdName,c.population AS cp
				FROM precinct AS p, cdistrict AS c
				WHERE p.cdistrictId=#{id} AND p.cdistrictId=c.cid
	
	</select>
	
</mapper>