<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.RSMapper">
	<select id="getUserByEmail" parameterType="String" resultType="User">
			SELECT * FROM user where email = #{email}
	</select>
	<insert id="createUser" parameterType="pojo.User" >
			INSERT INTO user(email,password,firstName,lastName,role,party) VALUES
			(#{email},#{password},#{firstName},#{lastName},#{role},#{party})
			<selectKey resultType="java.lang.Integer" keyProperty="id" >
	        	SELECT @@IDENTITY AS id
	    	</selectKey>
	</insert>
	<delete id="deleteUserByEmail" parameterType="String">
			DELETE FROM user where email = #{email}
	</delete>
	<delete id="deleteUser" parameterType="String">
			DELETE FROM user where email = #{email}
	</delete>
	<select id="getUsers" resultType="pojo.User">
			SELECT * FROM user 
	</select>
	<update id="updatePrecinctField" >
			UPDATE   precinct
			SET   rVotes = #{1}, dVotes=#{2} 
			WHERE  pCode = #{0}
	</update>
	<update id="updatePrecinctPopulation" parameterType="pojo.Precinct">
			UPDATE   precinct
			SET   population=#{population}
			WHERE  pCode = #{precinctCode}
	</update>
	<update id="increaseRunningTimes" >
			UPDATE   state
			SET   runningTimes=#{0}
			WHERE  sName = #{1}
	</update>
	<update id="updateNeiCode" >
			UPDATE   Sneighbor
			SET   pCode=#{1},neighborCode=#{2}
			WHERE  nid = #{0}
	</update>
	<update id="updateArea" >
			UPDATE   precinct
			SET   area=#{1}
			WHERE  pCode=#{0}
	</update>
	
	<update id="updatePCode" >
			UPDATE   precinct
			SET   pCode=#{1}
			WHERE  pName=#{0}
	</update>
	<update id="updateUser" >
			UPDATE   user
			SET   preferParty=#{0},firstName=#{1},lastName=#{2}
			WHERE  email=#{3}
	</update>
	
	<insert id="saveCds" parameterType="pojo.CDistrict" >
  	  			  INSERT INTO cdistrict  
	            (cid,cdName,population,stateId)  
	            VALUES 
	             (  
                    #{cdCode,jdbcType=VARCHAR},  
                    #{name,jdbcType=VARCHAR},  
                    #{population,jdbcType=NUMERIC},  
                    #{stateId,jdbcType=NUMERIC}
		          )  
	</insert>
	<insert id="createVotes"  >
  	  			INSERT INTO vote  
				(pCode)  
				VALUES 
				(  
				 #{0}
				  ) 
	</insert>
	<insert id="savePrecincts" parameterType="pojo.Precinct" >
  	  			  INSERT INTO precinct  
	            (pName,population,cdistrictId,pCode,stateId,county)  
	            VALUES 
	             (  
                    #{name,jdbcType=VARCHAR},  
                    #{population,jdbcType=NUMERIC},  
                    #{cdistrictId,jdbcType=NUMERIC},
                    #{precinctCode,jdbcType=VARCHAR},
                    #{stateId,jdbcType=NUMERIC},
                    #{county,jdbcType=VARCHAR}
		          )  
	</insert>
	
	
	<resultMap type="pojo.CDistrict" id="Precincts">
		<result column="cp" property="population"/>
		<result column="cdName" property="name"/>
		<result column="cid" property="cdCode"/>
			<collection property="precinct" ofType="pojo.Precinct">
				<result column="pCode" property="precinctCode"/>
				<result column="pName" property="name"/>
				<result column="registerVoters" property="registeredVoters"/>
				<result column="totalVoters" property="totalVoters"/>
				<result column="pp" property="population"/>
				<result column="cdistrictId" property="cdistrictId"/>
				<result column="county" property="county"/>
				<collection property="vote" ofType="java.util.HashMap">
					<result column="rVotes" property="REPUBLICAN" />
					<result column="dVotes" property="DEMOCRATIC"/>
				</collection>
			</collection>
	</resultMap>
	
	<select id="getNumOfCDs" resultType="int">
		SELECT COUNT(*) FROM cdistrict where stateId = #{0}
	</select>
	<select id="getCDsByStateId" resultType="pojo.Precinct">
		SELECT precinct.pCode as precinctCode FROM precinct where stateId = 1	
	</select>
	<update id="updatePrecinctCounty" >
			UPDATE   precinct
			SET   county=#{1}
			WHERE  pCode = #{0} and stateId = 1
	</update>
	<select id="getCdById" parameterType="int" resultMap="Precincts">
		SELECT p.county,p.pCode,p.cdistrictId,p.pName ,v.registerVoters,v.totalVoters,v.rVotes,v.dVotes, p.population AS pp, cid,cdName ,c.population AS cp
		FROM precinct AS p, cdistrict AS c, vote AS v
		WHERE p.cdistrictId=#{id} AND p.cdistrictId=c.cid AND v.pCode=p.pCode
	
	</select>
	<select id="getCdInforById" parameterType="int" resultType="pojo.CDInfor">
		SELECT * FROM information,cdistrict WHERE cdistrictId = #{id} AND cid = cdistrictId
	</select>

	<select id="getStateByName" parameterType="String" resultType="pojo.State">
		SELECT s.patisanFairness,s.racialFairness,s.compactness,s.goodness,s.area,s.runningTimes,s.aveIncome,s.sName,population,id as stateId FROM state AS s WHERE sName=#{stateName}
	</select>
	<select id="getStateId" parameterType="String" resultType="int">
		SELECT id from state where sName=#{stateName}
	</select>
	<select id="getneighbors"  resultType="pojo.Neighbors">
		SELECT * from Sneighbor
	</select>


	<select id="getPrecinctId" parameterType="String" resultType="int">
		select IFNULL(MAX(pid),0) pid from precinct where pCode=#{precinctCode}
	</select>
	<select id="getRepresents"  resultType="pojo.Representive">
		select * from representive where sName =#{0} and year = #{1}
	</select>
	<select id="getNeighborsCode"  resultType="String">
		SELECT neighborCode FROM neighbors WHERE  pCode = #{0,jdbcType=VARCHAR}
	</select>
	<select id="getCONeighborsCode"  resultType="String">
		SELECT neighborCode FROM Cneighbor WHERE  pCode = #{0,jdbcType=VARCHAR}
	</select>
	<select id="getSCNeighborsCode"  resultType="String">
		SELECT neighborCode FROM Sneighbor WHERE  pCode = #{0,jdbcType=VARCHAR}
	</select>
    
	<insert id="savePrecinctVotes" >
			INSERT INTO vote (pCode,rVotes,dVotes,totalVoters,registerVoters,year) VALUES
			(#{0},#{1},#{2},#{3},#{4},#{5})
	</insert>
	<insert id="saveNeighbors" >
			INSERT INTO neighbors(pCode,neighborCode) VALUES
			(#{0},#{1})
	</insert>
	<insert id="saveRR" >
			INSERT INTO representive(sName,cdistricId,name,party,year) VALUES
			(#{0},#{1},#{2},#{3},#{4})
	</insert>
	<insert id="saveSCNeighbors" >
			INSERT INTO Sneighbor(pCode,neighborCode) VALUES
			(#{0},#{1})
	</insert>
	<insert id="saveCONeighbors" >
			INSERT INTO Cneighbor(pCode,neighborCode) VALUES
			(#{0},#{1})
	</insert>
	<insert id="saveToNewNeighbors" >
			INSERT INTO newNeibors(pCode,neighborCode,sName) VALUES
			(#{0},#{1},#{2})
	</insert>


</mapper>