<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.RSMapper">
	<select id="getUserByEmail" parameterType="String" resultType="User">
			SELECT * FROM user where email = #{email}
	</select>
	<insert id="createUser" parameterType="pojo.User" >
			INSERT INTO user(email,password,firstName,lastName,role) VALUES
			(#{email},#{password},#{firstName},#{lastName},#{role})
			<selectKey resultType="java.lang.Integer" keyProperty="id" >
	        	SELECT @@IDENTITY AS id
	    	</selectKey>
	</insert>
	<delete id="deleteUserByEmail" parameterType="String">
			DELETE FROM user where email = #{email}
	</delete>
	<select id="getUsers" resultType="pojo.User">
			SELECT * FROM user 
	</select>
	<update id="updatePrecinctField" >
			UPDATE   precinct
			SET   rVotes = #{1}, dVotes=#{2} 
			WHERE  pCode = #{0}
	</update>
	<update id="updatePrecinctPopulation" parameterType="pojo.Precinct">
			UPDATE   precinct
			SET   population=#{population}
			WHERE  pCode = #{precinctCode}
	</update>
	<update id="increaseRunningTimes" >
			UPDATE   state
			SET   runningTimes=#{0}
			WHERE  sName = #{1}
	</update>
	
	<insert id="saveCds" parameterType="pojo.CDistrict" >
  	  			  INSERT INTO cdistrict  
	            (cdName,population,stateId)  
	            VALUES 
	             (  
                    #{name,jdbcType=VARCHAR},  
                    #{population,jdbcType=NUMERIC},  
                    #{stateId,jdbcType=NUMERIC}
		          )  
	</insert>
	<insert id="savePrecincts" parameterType="pojo.Precinct" >
  	  			  INSERT INTO precinct  
	            (pName,population,registerVoters,totalVoters,cdistrictId,pCode)  
	            VALUES 
	             (  
                    #{name,jdbcType=VARCHAR},  
                    #{population,jdbcType=NUMERIC},  
                    #{registeredVoters,jdbcType=NUMERIC},
                    #{totalVoters,jdbcType=NUMERIC},
                    #{CDistrict.cdCode,jdbcType=NUMERIC},
                    #{precinctCode,jdbcType=VARCHAR}
		          )  
	</insert>
	
	
	<resultMap type="pojo.CDistrict" id="Precincts">
		<result column="cp" property="population"/>
		<result column="cdName" property="name"/>
		<result column="cid" property="cdCode"/>
			<collection property="precinct" ofType="pojo.Precinct">
				<result column="pCode" property="precinctCode"/>
				<result column="pName" property="name"/>
				<result column="registerVoters" property="registeredVoters"/>
				<result column="totalVoters" property="totalVoters"/>
				<result column="pp" property="population"/>
				<result column="cdistrictId" property="cdistrictId"/>
				<collection property="vote" ofType="java.util.HashMap">
					<result column="rVotes" property="REPUBLICAN" />
					<result column="dVotes" property="DEMOCRATIC"/>
				</collection>
			</collection>
	</resultMap>
	
	<select id="getNumOfCDs" resultType="int">
		SELECT COUNT(*) FROM cdistrict
	</select>
	<select id="getCdById" parameterType="int" resultMap="Precincts">
		SELECT p.pCode,p.cdistrictId,p.pName ,v.registerVoters,v.totalVoters,v.rVotes,v.dVotes, p.population AS pp, cid,cdName ,c.population AS cp
		FROM precinct AS p, cdistrict AS c, vote AS v
		WHERE p.cdistrictId=#{id} AND p.cdistrictId=c.cid AND v.pCode=p.pCode
	
	</select>
	<select id="getCdInforById" parameterType="int" resultType="pojo.CDInfor">
		SELECT * FROM information,cdistrict WHERE cdistrictId = #{id} AND cid = cdistrictId
	</select>

	<select id="getStateByName" parameterType="String" resultType="pojo.State">
		SELECT s.runningTimes,s.aveIncome,s.sName,population,id as stateId FROM state AS s WHERE sName=#{stateName}
	</select>
	<select id="getStateId" parameterType="String" resultType="int">
		SELECT id from state where sName=#{stateName}
	</select>


	<select id="getPrecinctId" parameterType="String" resultType="int">
		select IFNULL(MAX(pid),0) pid from precinct where pCode=#{precinctCode}
	</select>
	<select id="getNeighborsCode" parameterType="String" resultType="String">
		SELECT neighborCode FROM neighbors WHERE pCode = #{pCode,jdbcType=VARCHAR}
	</select>
	<insert id="savePrecinctVotes" >
			INSERT INTO vote (pCode,rVotes,dVotes,totalVoters,registerVoters,year) VALUES
			(#{0},#{1},#{2},#{3},#{4},#{5})
	</insert>
	<insert id="saveNeighbors" >
			INSERT INTO neighbors(pCode,neighborCode) VALUES
			(#{0},#{1})
	</insert>


</mapper>